body {
  background-image: url("https://media.giphy.com/media/l396BoOTIFem9xqQU/giphy.gif");
  background-repeat: no-repeat;
  background-position: centre;
  background-size: cover;
  font-family: Verdana;
  margin: 40pt;
}
canvas {
  border: 5px solid white;
  height: 200pt;
}
h1 {
  color: White;
  text-align: centre;
}
p{
  color: White;
  text-align: justify;
  font-size: 14px;
}
input {
  font-size: 14px;
  margin: 10px;
}
#bugs{
  font-size: 10px;
  color: red;
  }

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 20px;
}